.kyccontainer {
    background-color: black;
    color:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 400px; */
    width: 100%;
  }

  .kyccontainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .kyccontainer ul li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
  }

  .kyccontainer ul li:last-child {
    border-bottom: none;
  }

  .kyccontainer ul li span {
    font-weight: bold;
  }
  span{
    text-wrap: wrap;
  }