.profile-cont{
    text-align: center;
    font-size:15px;
    color: black;
    background-color: white;
    border-radius: 8px;
}

.profile-icon{
    height:30px;
    width:30px;
    margin-right:10px;
}
.profile-item-cont{
    color:black;
    display: flex;
    align-items: center;
    border-bottom:2px solid gray;
}