.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;
    background-color: black;
  }
  
    .grid-row {
      display: flex;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  
    }
    .grid-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      justify-content: center;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
      padding: 13px;
      border-radius: 8px;
      height: 100px;
      max-height: 130px;
      width: 110px;
      max-width: 300px;
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.763);
      margin: 10px;
    }
    .grid-card:hover {
      background-color: yellow;
    }
    
    .icon {
      font-size: 34px;
      margin-bottom: 10px;
    }
    .heading-grid {
      font-size: 19px;
      margin: 0;
    }
    
    @media (max-width: 768px) {
      .grid-container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    
  
  /* Color Palette */
  .grid-card.grid-card-1 {
      background-color: #ff6b6b;
      box-shadow: 0px 0px 10px rgba(255, 107, 107, 0.5); /* Light Red */
      color: white; /* Light Red */
    }
    
    .grid-card.grid-card-2 {
      background-color: #f0a6ca; /* Pink */
      box-shadow: 0px 0px 10px rgba(240, 166, 202, 0.5); /* Pink */
      color: black;
    }
    
    .grid-card.grid-card-3 {
      background-color: #ffd166; /* Yellow */
      box-shadow: 0px 0px 10px rgba(255, 209, 102, 0.5); /* Yellow */
      color: black;
    }
    
    .grid-card.grid-card-4 {
      background-color: #1f7092; /* Purple */
      box-shadow: 0px 0px 10px rgba(106, 5, 114, 0.5); /* Purple */
      color: white;
    }
    
    .grid-card.grid-card-5 {
      background-color: #071215; /* Blue */
      box-shadow: 0px 0px 10px rgba(17, 138, 178, 0.5); /* Blue */
      color: white;
    }
    .whatsapp {
      background-color: green;
      box-shadow: 0px 0px 10px rgba(17, 138, 178, 0.5); /* Blue */
      color: white;
    }
    .youtube{
        background-color:red;
        color:white;
    }
    .facebook{
        background-color:rgb(31, 67, 150);
        color:white;
    }
    .instagram{
        color:white;
        background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }